﻿@{
    ViewBag.Title = "Home Page";
}

<p></p>
<p></p>
<p></p>

<p></p>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="main jumbotron  ">

            <p class="lead">
                Чатик - это маленькая социальная сеть от начинающего разработчика :)
            </p>

        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="line">
                <h2>Регистрируйся и находи друзей</h2>
                <p>
                    Находи всех своих знакомых и будь всегда с ними на связи.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="line">
                <h2>Веди переписку</h2>
                <p>Общайся с друзьми в открытом доступе.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="line">
                <h2>Храни информацию о себе</h2>
                <p>Информация всегда будет актуальной, ведь ты можешь ее отредактировать :)</p>
            </div>
        </div>
    </div>
