﻿
<div class="row">
   
    <div class="col-md-4 Personal_block">

        <h2>@ViewBag.user.nick</h2>

        <h2>@ViewBag.user.mobile</h2>


        <p><a href="/Home/About">Я Админ</a></p>

        <p> <a href="/User/Update/@ViewBag.user.Id">Редактировать информацию</a></p>
    </div>
   
    <div class="col-md-4 Personal_block">
        <p></p>
        <p></p>
        @foreach (var i in ViewBag.friends)
        {
            
    <p> <a href="/History/FindHistory/@ViewBag.user.Id/@i.Id"> Написать @i.name </a></p>
    <p>-----------------------------</p>
                                
        }

    </div>
    <div class="col-md-4 Personal_block">
        <p></p>
        <h3><a href="/User/FindFriend/@ViewBag.user.Id">Найти друзей</a></h3>
      

    </div>

</div>