﻿
@{
    ViewBag.Title = "History";
}
@model  Business.Models.MessageModel
@Ajax.ActionLink("ActionLink", "Update", new { id1 = @ViewBag.H },
new AjaxOptions { UpdateTargetId = "results",  OnFailure = "ChatOnFailure" },
new { @id = "ActionLink", @style = "visibility:hidden;" })
<h2>@ViewBag.H</h2>
<div id="LastRefresh"></div>
<script>var idroom='@ViewBag.H'</script>
@using (Ajax.BeginForm("History1", new { id1 = @ViewBag.H }, new AjaxOptions { UpdateTargetId = "results" }))

{
    <input type="hidden" value=@ViewBag.ourUser name="senderNick" />
    @Html.LabelFor(model => model.Text, "Введите смс")
    @Html.EditorFor(model => model.Text, "Введите смс")
    <br />





  
    @Html.LabelFor(model => model.idHistory, "номер комнаты")

    <input type="submit"   value="Отправить" />

}

<div id="results">


</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/chat.js")