﻿

@model IEnumerable<Business.Models.MessageModel>

<p>Это history1</p>
<div id="searchresults">
    <div class="mainblock">
        
            
            @foreach (var item in Model)
            {
        <div class="first">
            <p>@item.senderNick: @item.Text</p>
        </div>
            }
       
    </div>
</div>


