﻿
@{
    ViewBag.Title = "NewUser";
}

<h2>Добро пожаловать на личную страницу</h2>
@ViewBag.user.name
Выбирайте друзей кому написать
@foreach (var i in ViewBag.users)
{
    <a href="/History/History/@ViewBag.user.Id/@i.Id">@i.name @i.Id </a>
    
}

