﻿<div id="searchresults">

    <div class="mainblock">
        @foreach (var item in ViewBag.histori)
        {
        <div class="first">
            <p>@item.senderNick: @item.Text</p>
        </div>
        }
        </div>

       
    </div>

