﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чатик ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top  ">
        <div class="container">
            
            <ul class="nav navbar-nav line ">
                <li>@Html.ActionLink("Мой чатик", "Login", "Account")</li>
                <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
           
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>

            </ul>
            </div>
         </div>
     
  
    <div class="container body-content ">
        @RenderBody()
        <hr />
     
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
