﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:80px;
}
h1, h2, h3, h4 {
    font-family: Biome Light;
}
p {
    font-family: Biome Light;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.Personal_block {
    border-right: 3px solid ghostwhite;
    padding: 5px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container{
    background-color:lightblue;
   
   
}
li{
    color:black;
 
   font-size:18px;
}
a {
    color: black;
    font-family: Biome Light;
}
.col-xs-offset-8{
    
}
.main {
    background-color: ghostwhite;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    padding: 5%;
}
.mainblock {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 700px; /* Ширина блока */
    height: 700px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px white; /* Параметры рамки */
}
.line {
    border-bottom: 3px solid ghostwhite;
    border-top: 3px solid ghostwhite;
    padding: 5px;
}
.first {
    background-color: ghostwhite;
    border-radius: 5px;
}
.second {
    background-color: ghostwhite;
    border-radius: 5px;
}

