﻿
@model  FinalTask_1_.Models.LoginModel
<div class="row">

    <div class="col-md-4">
        <p><h3>У тебя уже есть своя страница, давай заходи   :)</h3></p>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <br />
                @Html.LabelFor(model => model.nick, "Логин")

                @Html.EditorFor(model => model.nick)
                @Html.ValidationMessageFor(model => model.nick)
                <br />
                <p></p>
                @Html.LabelFor(model => model.password, "Пароль")

                @Html.EditorFor(model => model.password)

                @Html.ValidationMessageFor(model => model.password)
                <br />
                <p></p>
                <input type="submit" class="btn btn-primary" value="Войти" />
            }
        </div>
    </div>
    <div class="col-md-4"></div>
    <p></p>
    @ViewBag.errors
</div>

@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/jquery.validate.unobtrusive.js")
