﻿@model  FinalTask_1_.Models.Registrashion
<div class="row">

    <div class="col-md-4">
        <h3>    Привет, мы всегда рады новым пользователям !!!</h3>
        <p>1.Логин должен состоять только из латинских букв (английских).</p>
        <p>2.Пароль должен состоять из 6 и больше симврлов.</p>
        <p>3.Имя также прописано латинскими буквами (английскими).</p>



        <p></p>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            <div>
                <br />
                Логин
                <div>
                    @Html.EditorFor(model => model.nick)
                </div>
                <br />
                Пароль

                <div>
                    @Html.EditorFor(model => model.Password)
                </div>
                <br />
                Подтвердить пароль
                <div>
                    @Html.EditorFor(model => model.PasswordConfirm)
                </div>
                <br />
               
                <br />
                <input type="submit" class="btn btn-primary" value="Зарегестрироваться" />

            </div>
        }

    </div>
    <div class="col-md-4">
   <p></p>
       <p> @ViewBag.errors</p>
    </div>

    </div>
        @Scripts.Render("~/scripts/jquery-3.4.1.js")
        @Scripts.Render("~/scripts/jquery.validate.js")
        @Scripts.Render("~/scripts/jquery.validate.unobtrusive.js")
