﻿

<p></p>
<p></p>
<p>Вы можете выбрать пользователя и посмотреть его историю сообщений</p>


@foreach (var i in ViewBag.users)
{
   
    <p>@i.nick</p>
    <p>@i.mobile</p>
    foreach (var j in @i.FriendsIds) { 
    
          <p>       @j      </p>
    }

<p> <a href="/Admin/DeleteUser/@i.Id">Удалить пользователя @i.nick</a></p>
    <p>  <a href="/Admin/WatchHistory/@i.Id">Просмотреть сообщния @i.nick</a></p>
    <p>-------------------------------------------------------------------------</p>
}


