﻿<p></p>
<p></p>
@ViewBag.error
@for (var i= 0;i<ViewBag.histories.Count;i++)
{

    string temp = "history";

<p>@Ajax.ActionLink(temp, "GetMessages", new { id1 = @ViewBag.histories[i].Id },
               new AjaxOptions { UpdateTargetId = "results" })</p>
<p><a href="/Admin/GetMessages/@ViewBag.histories[i].Id">Посмотреть историю номер @ViewBag.histories[i].Id </a></p>
}
<div id="results">


</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/chat.js")