﻿
@model  Business.Models.UserModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/chat.js")
<p></p>
<p></p>
<p></p>
<p></p>

@using (Ajax.BeginForm("FriendsResult", new { id1 = ViewBag.ouruser }, new AjaxOptions { UpdateTargetId = "results" }))

{

    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.nick, "Имя")
        <br />
        @Html.EditorFor(m => m.nick)
        @Html.ValidationMessageFor(m=>m.nick)
    </p>

    <p>
        @Html.LabelFor(m => m.mobile, "Телефон")
        <br />
        @Html.EditorFor(m => m.mobile)
        @Html.ValidationMessageFor(m => m.mobile)
    </p>
    <p>
        @Html.LabelFor(m => m.email, "Почта")
        <br />
        @Html.EditorFor(m => m.email)
        @Html.ValidationMessageFor(m => m.email)
    </p>
    
    <p><input type="submit" value="Поиск" /></p>

}




    <div id="results">


    </div>
   

