﻿@{
    ViewBag.Title = "Редактировать";

}
@model Business.Models.UserModel
<p></p>
<p></p>
<p></p>
@using (Html.BeginForm("Update", "User", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)

       
        <p>
            @Html.LabelFor(m => m.mobile, "Телефон")
            <br />
            @Html.EditorFor(m => m.mobile)
            @Html.ValidationMessageFor(model => model.mobile)
        </p>
        <p>
            @Html.LabelFor(m => m.email, "Почта")
            <br />
            @Html.EditorFor(m => m.email)
            @Html.ValidationMessageFor(model => model.email)
        </p>
        
        
        <p><input type="submit" value="Отправить" /></p>

    </fieldset>
}
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/jquery.validate.unobtrusive.js")
